# WZIĘTE Z https://github.com/PerzotProgrammer/Tech19.py/blob/main/.gitignore
# Może być nieakutalne względem pierwotnej wersji.

# Pliki
*.temp.*
*.test.*
*.pyc
*.exe
tempCodeRunnerFile.py


# Foldery
__pycache__
.vs
.vscode
.idea
Trening
Test
Gitignore